/node_modules
/public/hot
/public/css
/public/js
/public/storage
/public/vendor
/public/build
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.env
.env.testing
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
phpunit.xml
start.sh
.devcontainer
test.json
resources/js/ziggy.js
.phpunit.cache/test-results
auth.json
resources/lang/php_*.json
